body {
    margin: 0;
    overflow: auto;
    /* Prevent scrolling of the body */
    font-family: Arial, sans-serif;
    /* Optional: Set font-family for better readability */
}

canvas {
    position: fixed;
    /* Position the canvas fixed in the viewport */
    top: 0;
    left: 0;
    z-index: -1;
    /* Ensure canvas is below other content */
    pointer-events: none;
    /* Allow clicks to go through the canvas */
}

.overlay-text {
    position: absolute;
    top: 50%;
    /* Adjust as needed to vertically center the text */
    left: 50%;
    /* Center the text horizontally */
    transform: translate(-50%, -50%);
    /* Center the text both horizontally and vertically */
    position: fixed;
    color: rgba(230, 226, 9, 0.781);
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    text-shadow: 2px 2px 4px white;
    /* Add a shadow for better visibility */
}

.entry {
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 2;
    width: 95%;
    height: auto;
    margin: 0 auto;
    /* Center the content horizontally */
    box-sizing: border-box;
    /* This ensures that the info for the page start below the page until the user starts scrolling*/
    margin-top: 100vh;
    margin-bottom: 30px;
    padding: 20px;
    /* Optional: Add padding for better readability */
    position: relative;
    background: rgba(255, 255, 255, 0.897);
    /* Optional: Add a semi-transparent background for better readability */
}

.entryImage {
    width: 200px;
    height: 200px;
}

.contentText {
    padding: 25px;
}

.mySlides {
    display: none;
}

.slideshow-container {
    position: relative;
    width: 100%;
    /* Adjust this value to your desired width */
    /* Center the container horizontally */
    flex-grow: 1;
    justify-self: center;
}

.caption {
    text-align: center;
    display: none;
    /* Hide all captions initially */
    padding: 10px;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

img {
    width: 400px;
    height: 400px;
    padding-bottom: 10px;
}

.custom-button {
    background-color: white;
    color: black;
    position: absolute;
    top: 45%;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: yellow;
}

.dot-container {
    text-align: center;
    padding: 8px;
    background-color: black;
    width: fit-content;
    border-radius: 10px;
}
.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box {
    align-items: top;
    width: auto;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #b3d9eb;
    white-space: nowrap; /* Prevent text from wrapping */
}
.FitsTitle{
    text-decoration: underline;
    
}

.text{
    margin-left: 10%;
    margin-right:  10%;
}
.description{
    font-size: 20px;
    text-align: center;
}

.entrytitle{
    text-decoration: underline;
    font-size: 40px;
    margi
}

  /* Styles for the full screen icon */
  .fullscreen-icon {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1000;
  }

    /* Styles for the text overlay */
    .text-overlay {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 10px;
        display: none; /* Hide by default */
        z-index: 999; /* Ensure text appears above image */
      }